*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #333;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 0 0 14px 0 black;
    margin: 2rem auto;
    border-radius: 24px;
    width: 80%;
    max-width: 1450px;
    min-width: 320px;
    background-color: #282828;
    color: white;
    padding-bottom: .2em;
}


/* HEADER */
header{
    border-radius: 21px 21px 0 0;
    background-image: url("media/title-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: clamp(0, 1em, 2em);
    text-align: center;
}
header h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    display: inline-block;
    padding: .2em;
    margin: .4em;
    text-align: center;
    box-shadow: inset 1px 2px 0 0 rgba(255,255,255,0.08);
}
@media screen and (min-width: 800px){
    header{
        text-align: left;
    }
    header h1{
        margin: 1em;
        padding: .4em;
    }
}


/* NAVIGATION */
#nav {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    display: flex;
    gap: .2em;
    padding: .2em;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
#nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

    display: inline-block;
    padding: .4em;
    border-radius: 8px;
    transition-duration: 0.2s;
}
#nav a:hover{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
#nav a.active,
#nav a:active{
    background-color: #62a0ea;
}
#nav > .active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    color: black;
}
#nav a.icon{
    position: absolute;
    right: .14em;
    display: none;
    background-color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}
#nav a.icon:hover{
    background-color: #393939;
}
@media screen and (max-width: 710px) {
    #nav{
        flex-flow: column;
    }
    #nav a:not(.active){
        display: none;
    }
    #nav a.icon{
        display: block;
    }
    #nav.opened a{
        display: inline-block;
    }
}

#a11y{
    border: 3px solid red;
    position: absolute;
    left: 0px;
    display: none;
}

/* PAGES */
video{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
}
img{
    width: calc(100% - 1em);
    margin: .5em;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
.content{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: .5em;
    margin: 0 .5em;
    text-align: justify;
}
aside{
    text-align: center;
}
h2{
    margin: .5rem 1.5rem 0 1.5rem;
    padding: .3em;
    padding-bottom: 0;
    border-radius: 8px 8px 0 0;
    display: inline-block;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.5),
                -2px 0 2px -2px rgba(0, 0, 0, 0.5);
}
h3{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: inline-block;
    padding: .2em;
    margin-bottom: .5em;
    text-align: center;
}
figure{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
figcaption{
    text-align: center;
    margin-bottom: .5em;
}
footer{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: .5em;
    padding: .5em;
}


/* SLIDE SHOW */
.buttonsContainer{
    display: flex;
}
.logo button{
    padding: 1em;
    margin: auto 0;
    background-color: rgba(255,255,255,0.12);
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;

    min-width: 5em;
    min-height: 5em;
}
.logo button:hover{
    background-color: #62a0ea;
}
.logo button:active{
    background-color: rgba(255,255,255,0.9);
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

/* TABLE */
.table-section{
    min-width: 650px;
    max-width: 700px;
    margin: 0 auto;
}
.tablecontent{
    padding: 0;
    padding-top: .5em;
}
table caption{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: .4em 0;
    margin-bottom: .4em;
    margin: 0 .5em;
}
table p{
    padding: 0 .5em;
}
table{
    gap: 4em;
}
table th{
    color: black;
    padding: .4em;
    border-radius: 8px;
    background-color: #62a0ea;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
table td{
    padding: .4em;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: right;
}
table .category{
    text-align: left;
}
table img{
    width:  3em;
    height: 3em;
    display: inline;
    margin: 0;
    vertical-align: middle;
}
table{
    border-spacing: .5em;
    width: 100%;
}
@media screen and (max-width: 805px){
    .table-section{
        min-width: 0;
        
    }
    .tablecontent{
        padding: .5em;
    }
    table caption{
        margin: 0;
    }
    table thead{
        display: none;
    }
    table,
    table tbody,
    table tr,
    table td,
    table caption{
        display: block;
    }
    table td{
        padding-left: 30%;
        position: relative;
        text-align: right;
        margin: .5em 0;
    }
    table td::before{
        content: attr(label);
        position: absolute;
        left: 0;
        width: 30%;
        text-align: left;
        padding-left: 1em;
    }
    table .category{
        text-align: right;
        background-color: #62a0ea;
        color: black;
    }
}

/* FORM */
.form-section{
    margin: 0 auto;
    max-width: 700px;
}
.formcontent{
    padding: 0;
}
form{
    width: 100%;
    text-align: left;
}
fieldset{
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    padding: .5em;
    margin: .5em;
}
legend{
    background-color: #414141;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: .2em;
    margin: 0 .2em;
}
input[type=text],
textarea{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: none;
    padding: .5em;
    color: white;
}
input[type=text]:focus,
textarea:focus{
    outline: 2px solid #62a0ea;
}
textarea{
    height: 10em;
}
input[type=button],
input[type=submit]{
    background-color: #62a0ea;
    color: black;
    padding: .4em;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}
input[type=checkbox],
input[type=radio]{
    accent-color: #62a0ea;
}
form .data{
    display: grid;
    gap: .4em;
    grid-template-columns: 7em 1fr;
}
form .solve{
    display: grid;
    gap: .4em;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 520px){
    form .data{
        grid-template-columns: 1fr;
    }
    label[for=used-method], textarea
    { grid-column: span 4;}
    #time
    { grid-column: span 3;}
    label[for=avg], label[for=single], input[type=button], input[type=submit]
    { grid-column: span 2; text-align: center;}
}
@media screen and (min-width: 520px){
    form .solve{
        grid-template-columns: repeat(5, 1fr);
        gap: 1em;
    }
    #time{grid-column: span 2;}
    textarea{grid-column: span 5;}
}
@media screen and (min-width: 1370px){
    .desktop{ display: flex;}
    .form-section{ margin: auto;}
}


.content{
    display: grid;
    gap: 1em;
}
p{
    margin: auto;
}
/* PHONE */
.markak-section .content p img{
    width: 8em;
    float: left;
}
@media screen and (min-width: 480px){
    .rubik-section .content{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    .rubik-section .content p{
        grid-column: span 2;
    }
    .kockak-section .content img{
        float: right;
        width: 40%;
        margin-bottom: 0;
    }
}
/* TABLET */
@media screen and (min-width: 700px){
    .rubik-main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .rubik-main .kockak-section,
    .rubik-main .rubik-section{
        max-width: 700px;
        margin: auto;
    }
    .kockak-section .content img{
        float: right;
        width: 25%;
        margin-bottom: 0;
    }
    .markak-section .content article{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    .markak-section h3{
        grid-column: span 2;
    }
    .markak-section .logo{
        grid-column: span 2;
        width: 80%;
        margin: auto;
    }
    .dayan{
        grid-template-columns: 1fr 30% !important;
    }
    .moyu p{
        grid-column: span 2;
    }
    .moyu figure{
        grid-column: span 2;
        width: 70%;
    }
    .jeloles-section .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .halado-main{
        display: grid;
        grid-template-columns: 1fr 45%;
    }
    .halado-main section{
        margin: auto;
    }
}
/* DESKTOP */
@media screen and (min-width: 1100px){
    .rubik-main{
        grid-template-columns: 1fr 1fr !important;
    }
    .rubik-main .markak-section{
        grid-column: span 2;
    }
    .markak-section .content article:not(.dayan){
        grid-template-columns: 1fr 1fr 1fr !important;
    }
    .dayan{
        grid-template-columns: 1fr 1fr 20% !important;
    }
    .moyu figure{
        width: 100%;
    }
    .markak-section h3{
        grid-column: span 3;
    }
    .markak-section .logo,
    .markak-section p,
    .markak-section figure{
        grid-column: span 1;
    }
    .buttonsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .buttonsContainer div{
        grid-row-start: 1;
        grid-column: span 2;
    }
    .buttonsContainer button{
        margin: 1em;
    }
    .jeloles-section .content{
        grid-template-columns: 1fr 35%;
    }
    .zz-section img{
        float: left;
        width: 50%;
    }
}

