*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    accent-color: var(--blue2);
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: var(--main-bg);
}
:root{
    color-scheme: dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: min(4.2vw, 2.6vh);

    --blue1: #1c71d8;
    --blue2: #1a5fb4;
    --green1: rgba(38, 162, 104, 0.3);
    --green2: rgba(51, 209, 122, 0.6);
    --red1: rgba(165, 29, 45, 0.5);
    --red2: rgba(237, 51, 60, 0.7);
    --yellow1: rgba(249, 239, 107, 0.4);
    --yellow2: rgba(249, 239, 107, 0.7);
    --black1: rgba(0, 0, 0, 0.2);
    --black2: rgba(0, 0, 0, 0.4);
    --white1: rgba(255, 255, 255, 0.1);
    --white2: rgba(255, 255, 255, 0.2);

    --main-bg: linear-gradient(to bottom right, #62a0ea, #99c1f1, #dc8add);
    --node-bg: #1a1a1a;
    --bg: #0f0f0f;
    /* --bg: linear-gradient(to bottom right,#f9e2af, #89b4fa); */
    --border-color: rgba(255,255,255,0.03);

    /* --round: 0.0em; */
    /* --spacing: .4em; */
    --padding: .2em;
    --shadow: 0 0 1em 0 black;

    --board-spacing: 0.2em;
    --board-size: 20em;
}

div{ gap: var(--spacing); }

/* BUTTONS, NAME-INPUT */
.button,
.name-input{
    background-color: var(--node-bg);
    border-radius: calc( var(--round) - var(--spacing) );
    padding: var(--padding);
    border: 1px solid var(--border-color);
    outline: none;
    justify-content: center;
    min-width: 3em;
    padding-left: calc( var(--padding) * 2);
    padding-right: calc( var(--padding) * 2);
}
.button:hover{ background-color: var(--blue1); cursor: pointer; }
.button:active{ background-color: var(--blue2); }
.button:focus{ box-shadow: inset 0 0 calc( var(--padding) * 4) 0 var(--blue2); }
.name-input:focus{ box-shadow: inset 0 0 0 2px var(--blue1); }

.name-input{ width: 100%; }
.button.settings,
.button.desciption{ min-width: 0; }

input[type="range"]{
    max-width: 90%;
}

/* BOARD-CHOOSER */
.board-chooser{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "board board"
        "prev next";
}
.board-chooser .button.left{ grid-area: prev; }
.board-chooser .button.right{ grid-area: next; }
.board-chooser .board-container{
    grid-area: board;
    margin: auto;
}

/* DIALOG */
.dialog{ background-color: rgba(0, 0, 0, 0.6); }
.dialog > div{
    background-color: var(--bg);
    padding: calc( var(--spacing) * 2 );
    box-shadow: var(--shadow);
    border-radius: var(--round);
    border: 1px solid var(--border-color);
    gap: var(--spacing);
    text-align: center;
    max-width: calc(var(--board-size) + 1em);
}
.dialog p{ word-wrap: break-word; max-width: 70vw;}
.dialog .sub-text{ font-size: smaller; }

.dialog.description > div{
    text-align: justify;
}
.dialog.description .text{ text-align: center; }

/* SETTINGS */
.dialog input{ width: 100%; }

/* HEADER-BAR */
#header-bar{
    background-color: var(--bg);
    padding: var(--spacing);
    box-shadow: var(--shadow);
    border-bottom: 1px solid var(--border-color);
}
#header-bar .clock:hover,
#header-bar .clock:active,
#header-bar .player-name:hover,
#header-bar .player-name:active{ background-color: var(--node-bg); }
#header-bar .clock:focus,
#header-bar .player-name:focus{ box-shadow: none; }

/* PAGE */
#page-container{ margin: auto; }
.page{
    background-color: var(--bg);
    box-shadow: var(--shadow);
    border-radius: var(--round);
    padding: calc( var(--spacing) * 1.5 );
}
.page .board-name{ text-align: center; }

/* RECORDS */
.page.records{ max-height: 80vh; overflow-y: auto; }
table{ border-spacing: 0; }
td, th{
    border: 1px solid var(--white2);
    padding: calc( var(--spacing) / 2);
}
th{ border-top-color: transparent; }
tbody tr:last-child td{ border-bottom-color: transparent; }
th:first-child,
tbody tr td:first-child{ border-left-color: transparent; }
th:last-child,
tbody tr td:last-child{ border-right-color: transparent; }

/* BOARD */
.board{
    width: var(--board-size);
    height: var(--board-size);
    background-color: var(--node-bg);
    border: 1px solid var(--border-color);
    gap: var(--board-spacing);
    padding: var(--board-spacing);
    border-radius: calc( var(--round) - var(--spacing) );
}

.cell{
    border: 1px solid transparent;
    border-radius: calc( (var(--round) - var(--spacing) - var(--board-spacing)));
}

.cell.white{ background-color: var(--white1); }
.cell.white:hover{
    border-color: var(--yellow1);
    background-color: var(--white2);
    cursor: pointer;
}
.cell.white:active{ background-color: var(--yellow1); }

.cell.white.lit{ background-color: var(--yellow1); }
.cell.white.lit:hover{ border-color: var(--red2); }
.cell.white.lit:active{ background-color: var(--yellow2); }

.cell.white.with-bulb{ background-color: var(--yellow2); }
.cell.white.with-bulb::after{ content: '💡'; }

.cell.white.conflicts{ background-color: var(--red1); }
.cell.white.conflicts:hover{ background-color: var(--red2); }

.cell.black{ background-color: var(--black1); }
.cell.black:not(.correct){ background-color: var(--red1); }
.cell.black.correct.numbered{ border: 2px solid var(--green1); }

.board.preview:hover{ background-color: var(--blue2); cursor: pointer; }
.board.preview:active{ background-color: var(--blue1); }
.board.preview:focus{ outline: none; box-shadow: inset 0 0 calc( var(--board-size) / 4) 0 var(--blue2); }

.board.preview .cell.black,
.board.builder .cell.black{ background-color: var(--black1); border-color: transparent; }
.board.builder .cell.white:hover,
.board.preview .cell.white:hover{ border-color: var(--border-color); background-color: var(--white1); }
.board.builder .cell.white:active,
.board.preview .cell.white:active{ background-color: var(--white1); }

.board.builder .cell.black:hover{ border-color: var(--black2); cursor: pointer; }
.board.builder .cell.black:active{ background-color: var(--black2); }
.board.builder .cell.white:hover{ border-color: var(--black1); }
.board.builder .cell.white:active{ background-color: var(--black1); }